* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo{
  margin-top: 40%;
  width: 100%;
}
ul{
  list-style: none;
  background-color: #f3f3f3;
}
.container1{
  background-color: #f3f3f3;
  position: fixed;
  height: 100%;
  /*left: 0;*/
  float: left;
  width: 18%;
  top: 0;
  box-shadow: 3px 0 10px rgba(0,0,0.2);
  /*-webkit-transition: left .5s ease;
  -moz-transition: left .5s ease;
  -o-transition: left .5s ease;
  transition: left .5s ease;*/
  z-index: 1000;
}
.nav{
  width: 100%;
  /*border: 2px red solid;*/
}
#menu_principal{
  width: 100%;
}
#menu_principal li a.selector{
  color: #868686;
  width: 100%;
  display: block;
  /*padding-left: 5px;*/
  padding: 5px 0px 5px 5px;
  text-decoration: none;
  -webkit-transition:all .5s ease;
  -moz-transition:all .5s ease;
  -o-transition:all .5s ease;
  transition:all .5s ease;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}
#menu_principal{
  padding-top: 20%;
}
#menu_principal > li{
  margin: 0 0 5% 0;
}
.principales{
  margin-right: 10px;
}
#menu_principal li a.selector:hover{
  color: #fff;
  cursor: pointer;
  background-color: #2629A9;
}
#menu_principal li a#select{
  background-color: #2629A9;
  color: #fff;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

.container2{
  /*border: 2px green solid;*/
  width: 82%;
  float: right;
  /*margin-right: 2%;*/
}
/*.container1 .container2{
  display: inline-block;
  vertical-align: top;
}*/
.container4{
  /*border: 2px red solid;*/
  /*margin-top: 5%;*/
  padding: 5% 0%;
}
.row1{
  overflow: hidden;
}
.imagen img{
  /*text-align: center;*/
  margin: 0 auto;
}
.banner{
  width: 100%;
  height: 250px;
  background: url('../img/banner.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  overflow: hidden;
}
.texto{
  font-family: 'Teko', sans-serif;
  font-size: 18px;
  /*text-align: center;*/
  width: 64%;
  margin: 0 auto;
  margin-top: 8%;
}

/*font-family: 'Montserrat', sans-serif;*/
/**/

.container5{
  /*border: 2px red solid;*/
  /*margin-top: 5%;*/
  background-color:   #515a5a ; 
  padding: 5% 0%;
}
.row11{
  overflow: hidden;
  /*border: 2px red solid;*/
  width: 80%;
  margin: 0 auto;
}
/*--------------FOOTER----------*/
footer{
  width: 100%;
    background:#89E80A;
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    overflow: hidden;
    clear: both;
}
footer p{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 2.5%;
    color: #000;
}


/*------------------IR ARRIBa------------*/

a.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    /*background-color: rgb(0, 0, 0, );*/
    background-color: #89E80A;
    color: #000;
    font-size: 12px;
    padding: 1em;
    display: none;
    z-index: 1;
    text-decoration: none;
}

.go-top:hover {
    /*background-color: rgba(0, 0, 0, 0.6);*/
    background-color: black;
    color: #fff;
}


/*--------------------------quienes somos--------------*/


/*--------------servicios---------------------------------*/

/*-------------contacto---------------------*/
